# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
client_secret_*.json
package-lock.json
uploads
/Upcoming_Features_Planning/
/project-docs/
dev-log.md
/test-results/
/playwright-report/
/playwright/.cache/*.png
/home/ritam-das/Code/Techcora_Event_Management_App/client_secret_472957583895-16p5htkevj4tucqqdti547u0r9urh8sb.apps.googleusercontent.com.json